In [20]:
#List for Girls and their respective ages, heights and scores.
girl_names =['Samantha', 'Jada', 'Claire' ,'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian',]
girl_ages = [ 17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7,5.5]
girls_score = [80, 85, 70, 60, 76, 87, 95, 50, 49]

#List for Boys and their respective ages, heights and scores.
boy_names = ['Chareles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode']
boy_ages = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boy_heights = [5.7, 5,9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7] 
boy_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54]

# for a in girl_names:
#     for b in girl_ages:
#         for c in girls_height:
#             for d in girls_score:
#                 print(girl_names(a),girl_ages(b),girls_height(c),girls_score(d))

# Code to print girl stuff in tabular form
for a in range(1):
    print(" Name ", ' Age', ' Height', ' Score')

for a in range(9):
    print(girl_names[a],'',girl_ages[a],' ',girls_height[a],' ',girls_score[a])


for d in range(9):
    print(boy_names[d],'', boy_ages[d],'', boy_heights[d],'', boy_scores[d])

Name      Age  Height  Score
Jada   17  5.5     80
Samantha   17  5.5     80
Samantha   17  5.5     80
Samantha   17  5.5     80

In [1]:

print("Welcome to the CSC staff project")
for i in range(2501):
    intro = input('Please input your name: ')
    age = int(input('Please enter your age: '))
    exp = int(input('How many years of experience do you have?: '))
    if exp > 25 and age >= 55:
          print("Your average tax revenue is N5,600,000")
    elif exp > 20 and age >= 45:
        print("Your average tax revenue is  N4,800,000")
    elif exp > 10 and age >= 35:
         print("Your average tax revenue is  N1,500,000")
    else:
         print("Your average tax revenue is  N550,000")

Welcome to the CSC staff project
Your average tax revenue is  N1,500,000
Your average tax revenue is  N1,500,000
Your average tax revenue is N5,600,000
Your average tax revenue is N5,600,000